*{
    font-family: 'Oswald', sans-serif;
}
.bgimg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.048),rgba(0, 0, 0, 0.295)),url('mountain.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 600px;
}
.headerset{
    padding-top:110px;
    box-sizing: border-box;
}
.headerset h1{
    font-weight: bold;
    font-size: 60px;
}
.headerset h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.About {
    background-color:rgba(0, 0, 0, 0.884);
    padding: 10%;
}
.row{
    padding: 1%;
}
.row span{
    color:red;
}
.projects{
    background-color:rgba(0, 0, 0, 0.884);
    padding-top: 10%;
}
.projects img{
    padding: 10%;
}
.contactme{
    background-color:rgba(0, 0, 0, 0.884);
    padding-top: 5%;
}

.col img{
    margin-top:-18%;
}
label{
    padding-right: 80%;
}
.col p{
    font-family: 'Lora', serif;
}

